{% extends 'agent/agent_base.html' %}
{% load static %}
{% block content %}
{% for m in messages %}
	<script>
		alert('{{ m }}')
	</script>
{% endfor %}
<div class="container">
	<h2>Residue Details View</h2>
	<br>
	{% if d %}
	<table class="table table-bordered table-hover">
	   <thead class="bg-dark text-white" style="background:black; color:white;">
	   	  <tr>
			 <th>Bauxite Used (Kg)</th>
			 <th>Aluminium Extracted (Kg)</th>
			 <th>Red Mud (Kg)</th>
		  </tr>
	   </thead>
	   <tbody class="bg-info">
		{% for i in d %}
		  <tr>
			 <td>{{ i.bauxite }}</td>
			 <td>{{ i.aluminium }}</td>
			  {% if i.send_agent is True and i.progress_bar is True and i.aluminium_predict is True and i.residue is False %}
			 <td><a href="/create_residue/{{ i.id }}/"><input type="button" style="background:black; color:white; width: 120px; height: 30px;" value="Created Residue"></a></td>
			  {% elif i.send_agent is True and i.progress_bar is True and i.aluminium_predict is True and i.residue is True %}
			  <td>{{ i.red_mud }}</td>
			  {% endif %}
		  </tr>
	   {% endfor %}
	   </tbody>
	</table>
	{% else %}
	<h3>No More Details to View</h3>
	{% endif %}
</div>
{% endblock %}
